<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventário de Estoque</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/dashboard.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/homepage.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>
<body>
    <header style="background-color: #ffffff; color: #161617; display: flex; align-items: center; justify-content: space-between; width: 100%;">
      <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo" style="width: 100px; height: auto; justify-content: left;">
      </div>
      <nav>
        <ul>
          {% if request.session.user_id %}
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="#about">About</a></li>
          {% else %}
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="https://github.com/unb-mds/2024-2-Agio">About</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
{% block content %}

{% endblock content %}
    <footer style="background-color: #161617; color: #fff; padding: 10px 20px; text-align: center; justify-content: space-between;">
      <p><a href="https://github.com/unb-mds/2024-2-Agio" target="_blank" style="color: white;">Código-fonte no GitHub</a></p>
      <p style="color: #ffffff;">&copy; 2025 Projeto Open Source - Licenciado sob a <a href="https://opensource.org/licenses/MIT" style="color: #ffffff;">MIT License</a>.</p>
    </footer>
</body>
</html>

