.container {
    display: flex;
    flex-direction: column; /* Stacks elements vertically */
    height: 100vh; /* Full viewport height */
}

.row {
    flex: 1; /* Each row takes equal space */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.row:nth-child(odd) {
    background-color: lightgray;
}

nav {
    margin: 0;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #15a12d;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

ul {
    padding-left: 20px;
}

#hero button {
    background-color: #39413E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

#hero button:hover {
    background-color: #39413E;
    color: white;
}
